cp2/flows.json
[{"id":"3a342a251b5986d0","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"115e42da8f26add9","type":"mqtt in","z":"3a342a251b5986d0","name":"","topic":"esp32/sensorDistancia","qos":"0","datatype":"auto-detect","broker":"52d3b8c696d8dabf","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":120,"wires":[["64cf8b31bc9aa5f1","0f2427d2a9fd27a9"]]},{"id":"64cf8b31bc9aa5f1","type":"function","z":"3a342a251b5986d0","name":"ValorDistancia","func":"let distance = parseFloat(msg.payload);\nlet delayTime;\n\nif (distance <= 10) {\n    delayTime = 100;  // Piscar rápido\n} else if (distance <= 50) {\n    delayTime = 500;  // Piscar médio\n} else {\n    delayTime = 1000;  // Piscar lento\n}\n\nmsg.payload = delayTime;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["f8a14b13df69e933","1572651307567418"]]},{"id":"f8a14b13df69e933","type":"serial out","z":"3a342a251b5986d0","name":"Arduino","serial":"0c57f274f9e34443","x":720,"y":100,"wires":[]},{"id":"0f2427d2a9fd27a9","type":"debug","z":"3a342a251b5986d0","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"1572651307567418","type":"debug","z":"3a342a251b5986d0","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":160,"wires":[]},{"id":"1262a6fcfc48877d","type":"mqtt in","z":"3a342a251b5986d0","name":"","topic":"esp32/sensorDistancia","qos":"0","datatype":"auto-detect","broker":"52d3b8c696d8dabf","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":360,"wires":[["88192b8b7d6fc916","4f010308cd364211"]]},{"id":"88192b8b7d6fc916","type":"json","z":"3a342a251b5986d0","name":"","property":"payload","action":"","pretty":false,"x":450,"y":360,"wires":[["47ef8b288ffc8ca7"]]},{"id":"47ef8b288ffc8ca7","type":"function","z":"3a342a251b5986d0","name":"function 1","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["19d9ad7b7487469d"]]},{"id":"19d9ad7b7487469d","type":"ui_chart","z":"3a342a251b5986d0","name":"","group":"85b51cace94478d1","order":0,"width":"6","height":"6","label":"Histórico de Distância","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":360,"wires":[[]]},{"id":"4f010308cd364211","type":"ui_text","z":"3a342a251b5986d0","group":"85b51cace94478d1","order":1,"width":"6","height":"6","name":"","label":"Distância","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":440,"y":520,"wires":[]},{"id":"52d3b8c696d8dabf","type":"mqtt-broker","name":"SensorDistancia","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0c57f274f9e34443","type":"serial-port","name":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"85b51cace94478d1","type":"ui_group","name":"Histórico de Distância","tab":"65575a6ccfb0f183","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65575a6ccfb0f183","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]